/* Write your CSS here */

.money-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .money-details-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.item-container {
  background-color: #ecfccb;
  border: 2px solid #84cc16;
  border-radius: 15px;
  padding: 12px;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .item-container {
    width: 20%;
    margin-bottom: 0px;
  }
}

.income-container {
  background-color: #cffafe;
  border: 2px solid #06b6d4;
}

.expense-container {
  background-color: #ede9fe;
  border: 2px solid #7c3aed;
}

.money-details-image {
  height: 55px;
  width: 55px;
  margin-right: 20px;
}

.balance-text {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #475569;
  margin-bottom: 10px;
}

.rupees-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: #475569;
}
